.navbar-brand{
    font-size: 40px;
    font-family: initial;
}

.navbar-nav{
    font-size: 20px;
    padding: 8px;
}

.navbar-nav  li{
    padding-left:30px;
    padding-right:30px;
  }

.navbar-nav li:hover{
    color: white;
    background: rgb(103, 152, 216);
    border-radius: 20px;
    transition: 0.2s;
}



